.sidepanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 338px;
  margin-top: 226px;
  margin-left: 50px;
  &__link {
    width: 20px;
    height: 20px;
    &:hover {
      svg path {
        fill: $main-color;
      }
    }
  }
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__social {
    height: 150px;
    width: 25px;
    span {
      display: block;
      width: 150px;
      transform: rotate(-90deg) translate(-35%, -260%);
    }
  }
}
